@{
    ViewData["Title"] = "About Me";
}

<div class=home-grid>
    <div class="intro">
        <h1 class="name">Hi, I am Patrik Láska</h1>
        <br />
        <p> - programmer, used to be footballer, occasiaonal chess <br />
            player and Arsenal FC fan
        </p>

        <p> - my main areas of expertise in programming include <br /> 
            C++, C#, HTML, CSS and SQL
        </p>
    </div>

    <div>
        <img class="lazik-img" src="../images/Lazik-profile.jpg" alt="Lazik img" />

        <p class=motto>            
            "If you don't succeed at first, failure may be your style!"
        </p>
    </div>


    <div class="two-column">

        <p>If you want to know more about me...</p>

        <p>
            &emsp;&emsp;My life started in a small countryside village called Stružinec in Czech Republic. I was fortunate 
            enough to have a small football field on our private property where I and my friends could hang out 
            every afternoon. That is why I am passionate about football my whole life and those who know me would 
            tell you how  crazy fan of Arsenal FC I am. I spent countless hours with friends playing it and I 
            also played it on amateur level for 13 years as well.
        </p>

        <p>
            &emsp;&emsp;Other than football I like to play chess, PC games (mostly Heroes of Might and Magic 3 and World of Warcraft) 
            and a lot of different board games with my friends. I also have love for all kind of card games and played 
            Hearthstone competitively for few years. That is what I did back then in my teen years and continue to doing
            so since then.
        </p>

        <p>
            &emsp;&emsp;Another aspect of my life is sci-fi and fantasy. I grew up watching every sci-fi movie I could find
            or reading a book I could put my hands on. There are so many good movies, but if I had to choose one
            movie, TV series or book it would be these following: Dr House, Shawshank Redemption and The Dark Half by
            Stephen King.
        </p>

        <p>
            &emsp;&emsp;If there is one thing other than oxygen that I could not live without it would be music. There is a high 
            chance when meeting me that I would have my earbuds pluged in with volume on max settings. My favorite 
            bands I grow up listening to were Evanescence, Linkin Park and Flyleaf. But there are so many more. You
            can find my playlists on my Spotify profile.
        </p>

        <p>
            &emsp;&emsp;Since I mentioned playing games it wouldn't be any surprise to anyone when I would tell you that they are
            the reason why I am nowadays into programming, computers and IT stuff. Just playing them wasn't enough for
            me, so I started to be more curious how it all works behind the curtain as well. That was what motivated me to 
            start learning my first programming language C++. After a while I was able to script some AI in World of Warcraft 
            and create scripts for few dungeons and raids that others were able to conquer. The more I was learning the 
            more things I was able to fix on our private server and contribute to our community of players. My original 
            nickname in WoW was Amaunet, that is how some people from gaming community call me or Amy as a shortcut.
        </p>

        <p>
            &emsp;&emsp;And as for my education I haven't finished any IT university even though I tried it. It just wasn't meant 
            to be for me, but that didn't stop me from learning more stuff in my free time by my own. I switched my focus from 
            C++ to C# and broaden my skills to HTML, CSS and SQL. Finally I am confident enought to start working as a programmer.
        </p>

        <p>
            &emsp;&emsp;For the future I would like to continue learning more about C# and explore another languages like Python, 
            JavaScript, Dart or Go. But it remains to be seen where my path will lead me and which areas I will need to learn as
            a priority.
        </p>
    </div>
</div>