@{
    ViewData["Title"] = "My Work";
}

<div class=my-work-grid>
    <div class="my-work-whole-row">
        <nav class="nav-links-my-work">
            <div class="wrapper">
                <div class="nav-button">
                    <div class="side default-side"><a href="#c-plus-plus-id">C++</a></div>
                    <div class="side hover-side"><a href="#c-plus-plus-id">C++</a></div>
                </div>
            </div>
            <div class="wrapper">
                <div class="nav-button">
                    <div class="side default-side"><a href="#c-sharp-id">C #</a></div>
                    <div class="side hover-side"><a href="#c-sharp-id">C #</a></div>
                </div>
            </div>
            <div class="wrapper">
                <div class="nav-button">
                    <div class="side default-side"><a href="#videos-id">Videos</a></div>
                    <div class="side hover-side"><a href="#videos-id">Videos</a></div>
                </div>
            </div>
        </nav>
    </div>

    <img id="c-plus-plus-id" class="my-work-whole-row c-plus-plus-my-work-img" src="../images/c++.png" alt="c++ img" />

    <div class="my-work-whole-row">
        <p class="my-work-title">Matches (2012)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="01_5wQurBig" style="background-image: url('https://img.youtube.com/vi/01_5wQurBig/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=01_5wQurBig" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;This small console game I developed 10 years ago in my first year at university, 
            when I got a first glance at C++ basics.

            Rules of the game are simple. You set you starting number of matches (in this case between 20 to 30) 
            and then you and the computer exchange turns. In each turn you are able to take one to three matches. 
            That number is up to you. Looser of the game is player who has to take the LAST match. 
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">Karcher Lottery (2020)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="Iie2bbbEqzM" style="background-image: url('https://img.youtube.com/vi/Iie2bbbEqzM/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=Iie2bbbEqzM" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;This small GUI desktop app was developed for my girlfriend and her company called Karcher. 
            They started an event for their customers and wanted to pick a winner fair and square. It should generate 
            from one up to five random winners from a given txt file.
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">XML / CSV Converter (2019)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="7WN7JbwVQMM" style="background-image: url('https://img.youtube.com/vi/7WN7JbwVQMM/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=7WN7JbwVQMM" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;This small GUI desktop app was developed to convert xml file to csv file. Because original xml file 
            didn't have its own structure and excel was unable to load it correctly to filter through specific entries to get 
            all information at once, I decided to develop this small app to accomplish that. It is able to search through 
            1 667 380 characters in less than one second and create new csv file with imported data.
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">Who wants to be a millionaire? (2019)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="OScfBFw1cjc" style="background-image: url('https://img.youtube.com/vi/OScfBFw1cjc/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=OScfBFw1cjc" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;This GUI game was developed for fun for my company I worked for as a quality analyst. It is based on worldwide 
            known TV show called "Who wants to be a millionaire". Since this game was developed for my department in my company unfortunately 
            all questions are in Czech language, so I am sorry if you don't understand these questions. It is possible to change the questions 
            to any specific area, it doesn't necessary have to be from my field of work. So for example it can be about sport, animals and so on.
            <br />
            <br />
            As you can see in the video I also made sure your result in the game is stored in app's root folder and all three helps 
            (50:50, phone, audience) works. (The phone help was recorded by my colleague and was recorded for all four options)
            <br />
            <br />
            I also programmed phone and audience help to be 100% correct in range of 1000 - 10 000 questions, 5% to be wrong in range 
            10 000 - 320 000 and 25% to be wrong in range above 320 000.
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">File Scanner (2021)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="lVrtzB8Ehb0" style="background-image: url('https://img.youtube.com/vi/lVrtzB8Ehb0/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=lVrtzB8Ehb0" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;This File Scanner was part of my job interview. Its purpose was to scan all files in some directory. 
            It should have been able to scan only specific file formats and also user should have been able to choose which 
            directory to scan through arguments. Another task was to enable or disable scanning subdirectories and their content, 
            this option should have been set through arguments in .exe or in console itself. Last requirement was that it should 
            have been able to scan multiple specific file extensions at the same time.
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">Game AI Scripts (2015)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="heEjxv9mcks" style="background-image: url('https://img.youtube.com/vi/heEjxv9mcks/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=heEjxv9mcks&list=PL7ZexOC_L467yGaUB-iARJ7m9Rfo0JCM2&index=8" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;I dedicated most of my teenage years to Ice Online which is Czech World of Warcraft private server where I and my
            friends played. Later on I decided to know more about that game and that I want to help with fixing stuff which was not working. 
            At first I was working with database stuff. Adding and removing objects at specific locations and few other database related things,
            but that wasn't enough for me so I started to learn C++ programming language. After few months I was able to uderstand basics 
            and as time flew and I knew a lot more I was able to start writing my own AI scripts for dungeons, raids, bosses and NPCs. In this
            playlist you can find preview of few of them.
        </p>
    </div>

    <img id="c-sharp-id" class="c-sharp-my-work-img my-work-whole-row" src="../images/c-sharp.png" alt="c-sharp img" />

    <div class="my-work-whole-row">
        <p class="my-work-title">Keera AI - Chess engine (2021)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="AVa_1lOaHT0" style="background-image: url('https://img.youtube.com/vi/AVa_1lOaHT0/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=AVa_1lOaHT0" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;This project is special one. I collaborated on it with my friend Daniel (Kurunzo/Moonfall). At first I wanted to create a chess
            engine in C++, but didn't have time to work on it and later on I switched my focus to C#. I wanted to improve my coding skills so I asked
            him if we could try to make something and since I was working on a chess engine in the past he agreed to try it. In less then a two weeks of work 
            in our free time we had our own chess engine runing and working. It can play games agains itself as well agains a human. It knows all the chess rules 
            presented in the real world game such as en passant move, discovery check, castling, check, checkmate and so on. But the AI itself is dumb at 
            this point. We didn't focus on a difficulty and depth search for a possible moves. Maybe sometimes in the future. Other than that the engine 
            recognizes FEN notations of a board and move history.
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">Arena Battle (2022)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="1vUWBKgZKH4" style="background-image: url('https://img.youtube.com/vi/1vUWBKgZKH4/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=1vUWBKgZKH4" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;Just a small project I created when learning about C#. Two random characters (mage or warrior) battle against each other in Bo10. 
            In this project I tried to learn as much as possible about inheritance and polymorphism. It is a console application so nothing fancy, yet its
            quiet fascinating to watch it and cheer for one character or the other. Both classes has different stats so the matter of balancing things out
            was interesting. I now have an understanding how hard it is to balance things in nowadays AAA games, where classes have a lot more stats than just 
            three or four.
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">Snake (2022)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="JNo-F6udt-I" style="background-image: url('https://img.youtube.com/vi/JNo-F6udt-I/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=JNo-F6udt-I" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;Who doesn't know this game from our mobile phones when we were growing up. As part of my journey learning about console applications and 
            console attributes and fields I created this Snake app. You can play indefinitely.
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">Tournament Tracker (2022)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="pyf5ogl4ITU" style="background-image: url('https://img.youtube.com/vi/pyf5ogl4ITU/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=pyf5ogl4ITU" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;After Keera engine this is my second larger project in C# that I consider as something to be proud of. This application in Windows Forms 
            helps you create tournament of your own and tracks and generates random matchups in each round for you. All you need to do is confirm score of a matchup. 
            At the start of the tournament it randomly creates matchups and also sends an email notifications to all team members who are competing in this tournament. 
            It automatically handles all byes in the first round when the number of teams doesn't match a power of 2 formula and it also distributes entry fee to 
            tournament winners based on the prize pool created at the start of the tournament. All matchups and tournament informations are stored in MySQL DB or in a 
            text file. That is up to you which one you choose.
        </p>
    </div>

    <img id="videos-id" class="you-tube-img my-work-whole-row" src="../images/you-tube.png" alt="youtube img" />

    <div class="my-work-whole-row">
        <p class="my-work-title">Lazik Intro (2012)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="6xzlUH9P7DM" style="background-image: url('https://img.youtube.com/vi/6xzlUH9P7DM/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=6xzlUH9P7DM" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;When I was young, even before thinking about programming, I was fascinated by movies and videos. All I wanted to do was to create my own 
            videos and movies. Working with Adobe After Effects and Sony Vegas was my daily bread and butter. With main motivation of creating a machinima movie from 
            a game I used to play. And what is more important when creating videos than an intro video. I designed the logo on a paper with just my pencil and then 
            I started to figure out how to make it into a video intro. But I didn't want it to be just static so I created this animations and lightnings and this is 
            the result of my work. Still after so many years I am kind of proud of what I did back then.
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">Amaunet - Another Day In Orgrimmar (2013)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="9usoBbaAlLY" style="background-image: url('https://img.youtube.com/vi/9usoBbaAlLY/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=9usoBbaAlLY" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;This is it. As I mentioned in "Lazik Intro" section my passion were videos and especially videos from games. When I spent two months in Spain 
            in summer 2011 I had time to come up with a storyline and a concept for this video. It captures my ingame character night elf frost mage on her journey to 
            save her fraction. Pretty lame I know, but hey I was young at that time. Anyway it took me about half a year to create this movie with all these effects, 
            mostly because of my slow notebook which was unable to process the rendering. Even 15s of a video took about 10 mins of rendering. It was pain. Nevertheless 
            I am very happy with the result.
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">Arena Season 10 Trailer (2014)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="Md6XvXW5ksc" style="background-image: url('https://img.youtube.com/vi/Md6XvXW5ksc/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=Md6XvXW5ksc" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;All of my videos are kind of related to our World of Warcraft server I played on. This one is no different. Almost every patch in WoW has its own 
            new arena season and in that time a player base was declining in numbers. So I tried to create something for people to bring the hype back and lure them to 
            the game again. Some parts of the trailer have bad quality, but I tried to capture more then one point of view and these parts were send to me from another 
            players which unfortunately didn't have the best PC set up at that time to record something.
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">Dragon Soul Trailer (2016)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="2ikn1f45oZg" style="background-image: url('https://img.youtube.com/vi/2ikn1f45oZg/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=2ikn1f45oZg" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;I only collaborated on this trailer. Similarly to the Arena Season 10 trailer I was passionate about our server and every patch had also a new 
            raid content players could try to conquer. This one is special to me, because it was me who was scripting almost 3/4 parts of all the raids and dungeons at 
            that time. So this trailer is also a video about my programming work. You can see different bosses in the Dragon Soul raid. And most of them look like they were
            scripted by Blizzard itself. Yes there are few bugs here and there, but you won't see them in the video itself you would have to play the game to notice them. 
        </p>
    </div>

    <div class="my-work-whole-row">
        <p class="my-work-title">PvE Raids - playlist (2014)</p>

        <div class="yt-lite-div">
            <lite-youtube videoid="R8ex83mt4ww" style="background-image: url('https://img.youtube.com/vi/R8ex83mt4ww/hqdefault.jpg');">
                <a href="https://www.youtube.com/watch?v=R8ex83mt4ww&list=PL7ZexOC_L466kSGyf-M1aQMKA7i7qNIXQ&index=4" class="lty-playbtn" title="Play Video">
                    <span class="lyt-visually-hidden"></span>
                </a>
            </lite-youtube>
        </div>

        <p class="left-text my-work-info">
            &emsp;&emsp;This playlist captures our guild raid progress in different raids throughout a history of WoW. You can hear our voices and how we enjoyed playing 
            that game and conquering it obstacles. It was fun while it lasted. I have so many great memories and also friends till today and if someone tells you that you 
            are only wasting your time when playing video games I would strongly disagree. You can learn a lot. You just have to be able to manage your time and do other 
            things as well.
        </p>
    </div>
</div>

