@{
    ViewData["Title"] = "Skills";
}

<div class=skills-grid>
    <img class="c-plus-plus-img" src="../images/c++.png" alt="c++ img" />

    <p class="right-text">
        &emsp;&emsp;My first programming language I was trying to learn. Many people these days would suggested you to start 
        with something else. C# or Python probably, but I don't regret going with this one. Main reason why I 
        started to learn it was that I wanted to help to our private World of Warcraft server with fixing stuff
        and everything was written in C++ since it was a game. I started small, learning basic syntax and trying
        to understand everything. It wasn't easy at all and I learned many things by try and fail method. But I was
        making small steps and everytime I was able to fix something new and more complex it made me proud an excited
        what else I can learn and do. As a resource I was using book called Teach Yourself C++ in 21 days by Jesse 
        Liberty. I can tell you it didn't take me 3 weeks. More like 3 years to be honest, but I don't think it was
        a bad book it gave me a lot of foundations. I learned about polymorphism, inheritance, OOP and some memory 
        management.
    </p>

    <p class="left-text">
        &emsp;&emsp;As a programmer you soon realize that to know one programming language is just not enough and every
        language is good for something else. Don't get me wrong, you can do almost everything in C++, but as a lower level
        programming language you are forced to handle things which can be handled for you in exchange for small speed sacrifice.
        I was quiet surprised how similar syntax is in C++ and C#, yes there are few things that are totally different, but 
        I was passing through it with flying colors. At least with the basics. But going deeper I learned about events, pattern 
        matching, tuples, deconstruction and many more things which were added from C# 7 to C# 10. I am far from being expert
        but I try to learn something new every day about this language which is my favorite one at this moment. Also there is a lot
        more to it than just to know C#. There is also Entity Framework, ASP.NET, .NET Core and so many other things. I tried few
        projects with them and I just hope that one day I will be confident enough to work with any of them on a daily basis.
    </p>

    <img class="c-sharp-img" src="../images/c-sharp.png" alt="c-sharp img" />

    <img class="html-css-img" src="../images/html+css.png" alt="html-css img" />

    <p class="right-text">
         &emsp;&emsp;What can I say about these two. These are building stones of almost every webpage and every programmer 
         should know at least the basics. Even better learn a JavaScript alongside with them. I have JavaScript in my to do list
         for the future for sure as well. I needed to learn them to be able to create this website. For that I used udemy course
         called "Build Responsive Real-World Websites with HTML and CSS" by Jonas Schmedtmann. He will guide you through the basics to 
         more advanced topics such as Float, Flexbox or Grid and I would highly recommend that course to anyone who wants to learn 
         more about HTML and CSS.
    </p>

    <p class="left-text">
        &emsp;&emsp;SQL is another language every programmer should know. If you want to store any data in your project you need to use
        some kind of database. You can also store the data in txt, xml or json file, but working with datbases makes it much easier. First 
        time I got in touch with SQL was when we were modifying some game stuff, so basic CRUD operations. Later on I added new things like
        clausules, joins, aggregate methods, wildcards and aliases.
    </p>

    <img class="sql-img" src="../images/sql.png" alt="sql img" />

    <img class="git-img" src="../images/git.png" alt="git img" />

    <p class="right-text">
        &emsp;&emsp;Git is a go to version control system which helps you to track your progress and changes in your project. 
        It also helps you to archive your project and prevents you from losing valuable data when working on something. You can 
        also share your project files to pages like GitHub (Git and GitHub are not the same tho!) or BitBucket. This makes working 
        with a team of developers much easier.
    </p>

    <p class="left-text">
        &emsp;&emsp;Everyone uses MS Word and MS Excel. So this shouldn't count as some extra skill, but I tried to make most of these programs
        by taking few courses on both of them. I have now certificates Excel I, II, III from PC Strom company and I would like to take a fourth
        one in the future as well, to strenghten my skills with macros.
    </p>

    <img class="sql-img" src="../images/ms-office.png" alt="ms-office img" />

    <img class="git-img" src="../images/sony-vegas.png" alt="sony vegas img" />

    <p class="right-text">
        &emsp;&emsp;Honorable mention would be Sony Vegas. I used this software when I was creating game videos and movies as well as some 
        other personal videos from school and my free time which you can find on my youtube page. Basic editing, effects and more was done 
        in this software which I am familiar with.
    </p>

    <p class="left-text">
        &emsp;&emsp;Last thing to mention here is my -B- driving licence. 
    </p>
</div>